DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

CART_SERVICE_PORT=3000

CART_SERVICE_MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
CART_SERVICE_MONGO_DB_NAME=dbname

CART_SERVICE_KAFKA_CLIENT_ID=cart-service
CART_SERVICE_KAFKA_BROKERS=localhost:9092
