CART_PRODUCTS_PROJECTION_KAFKA_CLIENT_ID=cart-products-projection
CART_PRODUCTS_PROJECTION_KAFKA_BROKERS=localhost:9092
CART_PRODUCTS_PROJECTION_KAFKA_GROUP_ID=cart-products-projection-worker
CART_PRODUCTS_PROJECTION_KAFKA_TOPICS=product-events
CART_PRODUCTS_PROJECTION_MONGO_URI=mongodb://localhost:27017
CART_PRODUCTS_PROJECTION_MONGO_DB_NAME=zoom-cart
