PRODUCTS_PROJECTION_KAFKA_CLIENT_ID=products-projection
PRODUCTS_PROJECTION_KAFKA_BROKERS=localhost:9092
PRODUCTS_PROJECTION_KAFKA_GROUP_ID=products-projection-worker
PRODUCTS_PROJECTION_KAFKA_TOPICS=product-events

PRODUCTS_PROJECTION_MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
PRODUCTS_PROJECTION_MONGO_DB_NAME=dbname
