PRODUCTS_SERVICE_PORT=3001

PRODUCTS_SERVICE_DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

PRODUCTS_SERVICE_MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
PRODUCTS_SERVICE_MONGO_DB_NAME=zoom-products

PRODUCTS_SERVICE_KAFKA_CLIENT_ID=products-service
PRODUCTS_SERVICE_KAFKA_BROKERS=localhost:9092

KEYCLOAK_ISSUER_URL=http://localhost:8081/realms/zoom-storm
KEYCLOAK_JWKS_URI=http://localhost:8081/realms/zoom-storm/protocol/openid-connect/certs

# Set to "true" to bypass admin authentication (local development only)
PRODUCTS_SERVICE_SKIP_AUTH=false
