# ==================================================
# Cart Projection Worker
# ==================================================

# Kafka
CART_PROJECTION_KAFKA_CLIENT_ID=zoom-app
CART_PROJECTION_KAFKA_BROKERS=localhost:9022
CART_PROJECTION_KAFKA_GROUP_ID=cart-projection-worker
CART_PROJECTION_KAFKA_TOPICS=cart-events

# MongoDB
CART_PROJECTION_MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
CART_PROJECTION_MONGO_DB_NAME=zoom-mongo